body{
	background: #ecf0f1;
}
body.logged_in{
  background: #FFC312;
}
.demo-checkbox label, .demo-radio-button label{
	min-width: 33%;
}
.booking-note{
  display: block;
  margin-top: 12px;
  padding: 1px 6px;
}

.single-seat input[type=radio]{
	display: none;
}
.checkcontainer{
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 16px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.checkcontainer input{
	display: none;
}

/* Create a custom radio button */
.radiobtn{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color:#bdc3c7;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .radiobtn{
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.checkcontainer input:checked ~ .radiobtn{
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiobtn:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkcontainer input:checked ~ .radiobtn:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkcontainer .radiobtn:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.seat-container{
  text-align: center;
  position: relative;
}
.disable-wrapper::after {
	content: 'Please Select A Bus To Reserve Seat....';
	display: block;
	background: rgba(255, 255, 255,.8);
	position: absolute;
	top: 0;
	left: 0px;
	right: 0;
	bottom: 0;
	color: red;
	font-size: 24px;
	writing-mode: vertical-lr;
	width: 100%;
    border-radius: 5px;
}
.admin.seat-image{
  margin-left: 0px;
}
.seat-image {
  margin-bottom: 20px;
  text-align: left;
   margin-left: 31px;
}
.seat-image img{
	width: 100px
}
.reservation-button{
	margin-top: 30px;
}
#spinner{
margin-top: 41px;
font-size: 17px;
color: #6ab04c;
display: none;
}
#spinner span{
    font-weight: bold;
}


/* Custom Tool Tip */
.passenger-tooltip{
  position: absolute !important;
  top: -49px !important;
  background: rgba(0,0,0,.8);
  padding: 2px 10px;
  border-radius: 5px;
  left: -2px;
  display: none;
  color: #fff;
  width: 154px;
  z-index: 99;
}

.single-seat label:hover .passenger-tooltip{
  display: block;
}
