.single-seat{
    display: inline-block;
    margin: 10px 5px;
}
.btn-seat {
    width: 42px;
    font-weight: bold;
}
.single-seat input:checked +label {
    background: #f1c40f;
    border: 1px solid #f1c40f;
}