.single-seat{
    display: inline-block;
    margin: 10px 5px;
    padding: 0 40px;
}
.btn-seat {
    width: 40px;
    font-weight: bold;
    margin: 9px;
}
.single-seat input:checked +label {
    background: #f1c40f;
    border: 1px solid #f1c40f;
}
.single-seat input:disabled +label {
    background: #eb4d4b;
    border: 1px solid #eb4d4b;
    cursor: not-allowed;
}
.single-seat input:disabled +label:active{
    background: #eb4d4b;
    border: 1px solid #eb4d4b;
}