.single-seat{
    display: inline-block;
    margin: 10px 5px;
}
.btn-seat {
    width: 40px;
    font-weight: bold;
    margin: 9px;
    -webkit-box-shadow: 0px 6px 4px 0px #bbb;
    -moz-box-shadow: 0px 6px 4px 0px #bbb;
    box-shadow: 0px 6px 4px 0px #bbb;

}
.single-seat label{
    cursor: pointer;
    position: relative;
}
.single-seat input:checked +label {
    background: #f1c40f;
    border: 1px solid #f1c40f;
    
}
.single-seat input:disabled +label {
    background: #eb4d4b;
    border: 1px solid #eb4d4b;
    cursor: not-allowed;
    color: #fff;
}
.single-seat input:disabled +label:active{
    background: #eb4d4b;
    border: 1px solid #eb4d4b;
    
}